* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  text-decoration: none;
}

header {
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
}

header img {
  width: 4%;
  transform: translateX(-10px);
}

nav {
  font-size: small;
  padding: 20px;
  width: 20%;
  display: inline-flex;
}

nav li {
  margin: 10px;
}

.favoriteSubMenu {
  margin-left: 30px;
}

section {
  padding: 20px;
  display: inline-flex;
  width: 79%;
  background-color: yellow;
}

footer {
  color: #bababa;
  font-size: smaller;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
}

footer .copyright {
  margin-top: auto;
  margin-left: auto;
}
