*{margin:0;padding:0;font:inherit;color:inherit; list-style: none;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}

/* reset font-family: 'Noto Sans KR', sans-serif;*/
body {
    font-family: 'Lobster', cursive;
    color: rgb(241, 231, 220);
 
}

.FirstPage {
    position: absolute;
    width: 100%;
    height: 1300px;
    background: linear-gradient( to top, rgb(24, 23, 23), rgb(56, 56, 56));
    text-align: center;
}

.FirstPage > a > .aboutme {
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgb(221, 160, 189);
    
}
.FirstPage > h1 {
    position: relative;
    z-index: 2;
    font-size: 2cm;
    font-weight: bold;
    text-shadow:1px 1px 5px #000;
}

.FirstPage_img{
    position: relative;
    bottom: 50px;
    z-index: 1;
    text-align: center;

}
.FirstPage_img > img {
    width: 100%;
    height:400px;
    object-fit: cover;
    object-position: 50% 88%;
}
.FirstPage > .hi{
    position: relative;
    bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
/* Firstpage */
.contents > ul {
    height: 640px;
    position: relative;
}

.contents > ul > .young {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 30px;
    left: 70px;
}
.contents > ul > .young > a > img,
.contents > ul > .dog > a > img,
.contents > ul > .like > a > img,
.contents > ul > .hate > a > img,
.contents > ul > .tmi > a > img {
    box-shadow: -5px 5px 15px #000;
}
.contents > ul > .dog {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 340px;
}
.contents > ul > .like {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 70px;
    left: 610px;
}
.contents > ul > .hate {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 90px;
    left: 880px;
}
.contents > ul > .tmi {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 110px;
    left: 1150px;
}
.contents > ul > .young > div,
.contents > ul > .dog > div,
.contents > ul > .like > div,
.contents > ul > .hate > div,
.contents > ul > .tmi > div {
    font-size:3ch;
    position: relative;
    top: 450px;
    text-align: left;
    margin-left: 15px;
}
.text {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 600px;
    margin: auto;
    border-radius: 30%;
    position: relative;
    box-shadow: 5px 5px 15px #000;

}
.text > .textYoung {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    color: #000;
}
.img1,
.img2,
.img4,
.img5,
.img6 {
    width:200px;
    height:200px;
    position: absolute;
}
.img3 {
    width:250px;
    height:250px;
    position: absolute;
}
.img1 > img {
    position: relative;
    border-radius: 20%;
    left: 70px;
    bottom: 600px;
    z-index: 2;
    box-shadow: 5px 5px 15px #000;
} 
.img2 > img {
    position: relative;
    border-radius: 20%;
    left: 130px;
    bottom: 450px;
    z-index: 1;
    box-shadow: 5px 5px 15px #000;
}
.img3 > img {
    position: relative;
    border-radius: 20%;
    left: 50px;
    bottom: 200px;
    box-shadow: 5px 5px 15px #000;
}
.img4 > img {
    position: relative;
    border-radius: 20%;
    left: 1200px;
    bottom: 630px;
    z-index: 1;
    box-shadow: 5px 5px 15px #000;
} 
.img5 > img {
    position: relative;
    border-radius: 20%;
    left: 1300px;
    bottom: 450px;
    z-index: 2;
    box-shadow: 5px 5px 15px #000;
}
.img6 > img {
    position: relative;
    border-radius: 20%;
    left: 1200px;
    bottom: 230px;
    box-shadow: 5px 5px 15px #000;
    z-index: 3;
}