.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactBox {
  width: 500px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #111;
}

.contactBox p {
  vertical-align: bottom;
  display: flex;
  align-items: center;
  margin-left: auto;
}
