.project1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  height: 60px;
  gap: 5px;
}

.title h2 {
  font-size: xx-large;
  line-height: 60px;
}

.project1 article {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  gap: 10px;
}

.toggle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #202123;

  display: flex;
  align-items: center;

  position: absolute;
  left: 0;
  top: 20%;
  transform: translate(-50%);
  cursor: pointer;
}

.toggle span {
  padding: 5px;
}

.description {
  z-index: 99;
  padding: 0 90px;
  width: 45vw;
  height: 100vh;
  background-color: #202123;
  color: #fffdf1;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  position: absolute;
  left: 97%;
  transition: 1s;
  /* 열기 55% 닫기 97%*/
}

.label {
  font-size: larger;
  font-weight: bolder;
}

.description a {
  text-decoration: underline;
}

.tag {
  display: inline;
  padding: 5px;
  border-radius: 50px;
  background-color: rgb(197, 197, 197);
  font-size: small;
  color: #202123;
}
